In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('../')
from dotenv import load_dotenv

load_dotenv('.env')

from src.utils.load_save_data import load_static_files
from src.utils.preprocess import preprocess_train, make_grouped_dataset

%matplotlib inline

In [2]:
os.environ.get('DATA_FOLDER')

'data/'

# Import Data

In [3]:
static_files = load_static_files()

In [4]:
train = static_files['TRAIN_DATA']
test = static_files['TEST_DATA']
items = static_files['ITEMS_DATA']
shops = static_files['SHOPS_DATA']
item_cats = static_files['ITEM_CATS_DATA']

In [5]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

# Group by month, shop and item

In [6]:
train = preprocess_train(train, save_file = True)

In [7]:
grouped_train = make_grouped_dataset(train, save_file = True)

C:\Users\JosiePark\OneDrive - Altius\Documents\projects\future_sales\src\utils\preprocess.py:30: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_train = train.groupby(['date_block_num', 'shop_id','item_id'])['date','item_price', 'item_cnt_day'].agg({'date' : ['min','max'], 'item_price' : 'mean', 'item_cnt_day':'sum'}).reset_index()

In [8]:
grouped_train.head()

  date_block_num shop_id item_id        date             item_price  \
                                         min         max       mean
0              0       2      27  11.01.2013  11.01.2013     2499.0
1              0       2      33  05.01.2013  05.01.2013      499.0
2              0       2     317  04.01.2013  04.01.2013      299.0
3              0       2     438  19.01.2013  19.01.2013      299.0
4              0       2     471  09.01.2013  22.01.2013      399.0

  item_cnt_day
           sum
0          1.0
1          1.0
2          1.0
3          1.0
4          2.0

# Plots of time series